# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Julia
5. SQL
6. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Tensorflow
4. SciKit-Learn
5. Matplotlib
6. PyTorch

| Data Science Tools |
| ------ |
| Python |
| Apache Hadoop |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [22]:
# This will convert 200 minutes to hours by diving by 60
m = 200
h = m/60
print (h,"Hours")

3.3333333333333335 Hours

**Objectives:**
* Jupyter Notebooks
* Jupyter Lab
* GitHub

## Author
Mohammad Nouman